.service {
  background-color: #dfe6e9;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 10px gray;
}
.service img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
.service p {
  text-align: justify;
}
